<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_RedisMasterSlave>
            <version>0.1.0</version>
        </Aligent_RedisMasterSlave>
    </modules>
    <global>
        <models>
            <aligent_redismasterslave>
                <class>Aligent_RedisMasterSlave_Model</class>
                <resourceModel>aligent_redismasterslave_resource</resourceModel>
            </aligent_redismasterslave>
            <aligent_redismasterslave_resource>
                <class>Aligent_RedisMasterSlave_Model_Resource</class>
            </aligent_redismasterslave_resource>
        </models>
        <blocks>
            <aligent_redismasterslave>
                <class>Aligent_RedisMasterSlave_Block</class>
            </aligent_redismasterslave>
        </blocks>
        <helpers>
            <aligent_redismasterslave>
                <class>Aligent_RedisMasterSlave_Helper</class>
            </aligent_redismasterslave>
        </helpers>
        <events>
            <application_clean_cache>
                <observers>
                    <aligent_redismasterslave>
                        <type>singleton</type>
                        <class>aligent_redismasterslave/observer</class>
                        <method>cacheClean</method>
                    </aligent_redismasterslave>
                </observers>
            </application_clean_cache>
            <adminhtml_cache_refresh_type>
                <observers>
                    <aligent_redismasterslave>
                        <type>singleton</type>
                        <class>aligent_redismasterslave/observer</class>
                        <method>cacheRefreshType</method>
                    </aligent_redismasterslave>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_redismasterslave>
                                            <title>Aligent Resis Master/Slave</title>
                                        </aligent_redismasterslave>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>